@model wdHodinkee.Models.article

@{
    ViewData["Title"] = "Content";
}
<style>
    .parrafo:first-letter {
        font-size: 400%;
        font-weight: 700;
    }
</style>
    
<br />
<div class="container">
    <article class="row">
        @*<div class="form-group">
            <img src="@Model.image" class="img-responsive" style="width: -webkit-fill-available;height: 600px;" />
        </div>
        <div class="form-group">
            <h1 style="font-family: Portrait,serif;">@Model.title</h1>
            <p>@Model.description</p>
            <hr />
            <span class="label label-default">@Model.source.name - @Model.publishedAt</span>
            <hr />
            <p class="parrafo">@Model.content</p>
        </div>*@
        Hola
    </article>
</div>

